body {
    background-image: linear-gradient(135deg, #e2f8f7, #fffffff3);
    color: #112d32 !important;
}
.carousel-item-landing {
    height: 90vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar .navbar-light {
    background-color: #fffffffb !important;
    box-shadow: 5px 10px rgba(rgb(46, 45, 45), 0.3) !important;
    color: #4f4a41 !important;
}

.nav-link {
    color: #112d32 !important;
    text-decoration: none !important;
}

.nav-link:hover {
    color: #4f4a41 !important;
    text-shadow: 0px 1px 5px rgba(rgb(46, 45, 45), 0.3) !important;
    text-decoration-line: underline !important;
    text-decoration-thickness: 1px !important;
    text-decoration-color: #4f4a41 !important;
    font-weight: bold !important;
}

.nav-link:active {
    color: #705843 !important;
    text-decoration-line: underline !important;
    text-decoration-thickness: 1px !important;
    text-decoration-color: #705843 !important;
    font-weight: bold !important;
}

.nav-link-auth {
    color: #4f4a41 !important;
    text-decoration: none !important;
}

.nav-link-auth:hover {
    color: #4f4a41 !important;
    text-shadow: 0px 1px 5px rgba(rgb(46, 45, 45), 0.3) !important;
    text-decoration: none !important;
    font-weight: bold !important;
}

.nav-link-browse {
    color: #4f4a41 !important;
    text-decoration: none !important;
}

.nav-link-browse:hover {
    color: #4f4a41 !important;
    text-shadow: 0px 1px 5px rgba(rgb(46, 45, 45), 0.3) !important;
    text-decoration: none !important;
    font-weight: bold !important;
}

.listing-card:hover {
    box-shadow: 1px 2px 5px rgba(rgb(46, 45, 45), 0.3) !important;
}

.map-container-5 {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-container-5 iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.listing-img-carousel {
    height: 40vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-caption-listing {
    position: absolute !important;
    margin-left: 0 !important;
    padding-left: 0 !important;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.like {
    fill: rgb(40, 40, 41) !important;
    width: 3% !important;
}

.like:hover {
    fill: rgb(211, 6, 6) !important;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) !important;
}

.link:checked {
    fill: rgb(211, 6, 6) !important;
    transition: cubic-bezier(0.445, 0.05, 0.55, 0.95) !important;
}

.avatar {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
